<div class="popular">
  <h5>Популярные маршруты</h5>
</div>
<div class="sort">
  <select id="selector" name="differentSort" class="differentSort">
    <option value="1">По рейтингу</option>
    <option value="2">По дате</option>
    <option value="3">По длине маршрута</option>
  </select>
</div>
<div class="routes">
  <div class="rout">
    <img src="https://kianews24.ru/wp-content/uploads/2021/09/Screenshot-2021-09-15-at-14-30-47-Google-Karti.png"
      class="img" width="200px" height="200px">
    <h3>Маршрут1</h3>
    <button class="btn btnInfo" id="1">Посмотреть</button>
    <p>Рейтинг: </p>
  </div>
  <div class="rout">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHuEKYw2SsA5TGrz2xXDFkdzO-HDKKsBtLSQ&usqp=CAU"
      class="img" width="200px" height="200px">
    <h3>Маршрут2</h3>
    <button class="btn btnInfo" id="2">Посмотреть</button>
    <p>Рейтинг: </p>
  </div>
  <div class="rout">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw6_6yOPnmwbvMYZX0W5arLd4Z02SC8CnbyA&usqp=CAU"
      class="img" width="200px" height="200px">
    <h3>Маршрут3</h3>
    <button class="btn btnInfo" id="3">Посмотреть</button>
    <p>Рейтинг: </p>
  </div>
  <div class="rout">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx2l-QSRQce5HxsrzYGonA9dzXyJsUbnJT0A&usqp=CAU"
      class="img" width="200px" height="200px">
    <h3>Маршрут4</h3>
    <button class="btn btnInfo" id="4">Посмотреть</button>
    <p>Рейтинг: </p>
  </div>
  {{#each ways}}
  <div class="rout" id="{{this.id}}">
    <img src="{{this.url_img}}"
      alt="sfgdsfghfd" class="img" width="200px" height="200px">
    <h3>{{this.title}}</h3>
    <button class="btn btnInfo" id="{{this.id}}">Посмотреть</button>
    <p>Рейтинг: {{this.rating}}</p>
    <p>Расстояние: {{this.distance}}</p>
  </div>
  {{/each}}
</div>
