 {{!-- {{#if userName}} --}}
  <a href="/entries/new" class="block button w-100 mar-t-2 mar-b-3 pad-2 round-1 text-c center">Новая запись(маршрут)</a>
{{!-- {{else}}
  <a href="/entries/new" class="block button w-100 mar-t-2 mar-b-3 pad-2 round-1 text-c center">Write about Broccoli</a>
{{/if}} --}}

<main role="main" class="place">
  <ul class="entries-list no-bullets no-padding">
    Путь к успеху!
    {{!-- {{#each entries}} --}}
      {{!-- <li class="entry-item pad-b-4">
        <a href="/entries/{{id}}" class="entry-title font-2 pad-b-1-4 c-white" id="{{id}}">{{this.title}}</a>
        <span class="entry-date block font-3-4 c-lt-gray">Written on {{this.createdAt}}</span>
        <p class="entry-stub">{{this.body}}</p> --}}
        {{!-- {{#if this.likesUser}}
          <button class="offlikeBtn" id="on"><img type="button" src="/images/like-ok.png" style="max-height: 30px; max-width: 30px;" class="offlikeImg" id="{{id}}" alt=""></button><span class="entry-stub valueLike">{{this.likes}}</span>
        {{else}}
          <button class="offlikeBtn" id="off"><img type="button" src="/images/like-off.png" style="max-height: 30px; max-width: 30px;" class="offlikeImg" id="{{id}}" alt=""></button><span class="entry-stub valueLike">{{this.likes}}</span>
        {{/if}} --}}
      {{!-- </li>
    {{/each}} --}}
  </ul>
</main>

